<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
            <img src='https://www.pngitem.com/pimgs/m/523-5233379_employee-management-system-logo-hd-png-download.png' alt='' style = "width: 50px; height: 50px; margin-left: 8px; border-radius: 10px; "/>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/allemployees'">All Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/addemployee'">Add Employee</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>